// Footer

footer {
    background-color: #353535;
    height: 180px;
    color: $txt-clair;

    h3 {
        font-family: "Shrikhand", sans-serif;
        font-weight: 400;
        font-size: 18px;
        padding: 22px 0 16px 0;
    }
    a {
        color: $txt-clair;
    }
}

.footer-menu {
    margin-top: -52px;
}

.lien-footer {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.lien-li {
    li {
        padding-bottom: 7px;
    }
}

@media (min-width: 1024px) {
    footer {
        height: auto;
    }
    .lien-footer {
        flex-direction: row-reverse;
        align-items: baseline;
        padding: 64px 20px 31px 0;

        h3 {
            padding-left: 95px;
            padding-right: 50px;
        }
    }

    .lien-li {
        display: flex;

        li {
            padding-right: 20px;
        }
    }

    .lien-li {
        .li-handshake {
            padding-right: 50px;
        }
    }
}
