.purple-button {
  background-image: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -9;
  }
}
@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.titre-omyfood {
  padding: 14px 70px 5px 70px;
}

.logo {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  text-align: center;
}

.location {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  gap: 10px;
  padding: 15px 0 15px 0;
  box-shadow: inset 0px 3px 3px 0px rgb(206, 206, 206);
}

.arrow {
  position: absolute;
  top: 25px;
  left: 23px;
}

.img-header img {
  width: 100%;
  height: 275px;
}

@media (min-width: 768px) {
  .logo {
    padding: 10px 0 12px 0;
  }
  .arrow {
    top: 35px;
  }
}
footer {
  background-color: #353535;
  height: 180px;
  color: #fff;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 22px 0 16px 0;
}
footer a {
  color: #fff;
}

.footer-menu {
  margin-top: -52px;
}

.lien-footer {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}

.lien-li li {
  padding-bottom: 7px;
}

@media (min-width: 1024px) {
  footer {
    height: auto;
  }
  .lien-footer {
    flex-direction: row-reverse;
    align-items: baseline;
    padding: 64px 20px 31px 0;
  }
  .lien-footer h3 {
    padding-left: 95px;
    padding-right: 50px;
  }
  .lien-li {
    display: flex;
  }
  .lien-li li {
    padding-right: 20px;
  }
  .lien-li .li-handshake {
    padding-right: 50px;
  }
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.explorer {
  padding: 50px 0 50px 0;
  background-color: #f6f6f6;
  text-align: center;
}
.explorer h2 {
  font-size: 24px;
  font-weight: 700;
  padding: 0 58px 0 42px;
}
.explorer p {
  font-size: 18px;
  padding: 15px 34px 27px 26px;
  font-weight: 300;
}

.purple-button {
  padding: 16px 19px;
  position: relative;
  overflow: hidden;
}

.purple-button:hover {
  background: linear-gradient(200.64deg, rgba(147, 86, 220, 0.8509803922) -5.2%, rgba(255, 121, 218, 0.8509803922) 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.45);
}

.fonctionnement {
  padding: 0 0 50px 0;
  margin: 0 30px 0 30px;
  background-color: #fff;
}
.fonctionnement h2 {
  padding: 48px 0 30px 0;
  font-weight: 700;
}
.fonctionnement ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

li {
  position: relative;
}

.number {
  font-size: 14px;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  color: #fff;
  background-color: #9356dc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 23px;
  left: -10px;
}

.btn-fonction {
  border-radius: 28px;
  width: 100%;
  height: 72px;
  font-size: 16px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  padding-right: 38px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  gap: 15px;
}

.grey {
  color: #7e7e7e;
}

.grey:hover {
  color: #9356dc;
}

.restaurants {
  background-color: #f6f6f6;
}
.restaurants img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 160px;
}
.restaurants h2 {
  padding: 50px 0 20px 30px;
}

.card {
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 15px 20px 15px;
  gap: 15px;
}

.new {
  color: #008766;
  background-color: #99e2d0;
  font-family: "inter";
  font-size: 14px;
  font-weight: 500;
  padding: 8px 12px 7px 12px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0 10px 15px;
  font-weight: 300;
}
.card-txt h3 {
  font-size: 18px;
}
.card-txt p {
  padding-top: 5px;
  font-size: 17px;
}

.heart__icon {
  padding-right: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin-right: 22px;
  cursor: pointer;
}
.heart__icon--off {
  position: absolute;
  color: black;
}
.heart__icon--on {
  position: absolute;
  opacity: 0;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 400ms;
}
.heart__icon:hover .heart__icon--on {
  opacity: 1;
}
.heart__icon:hover .heart__icon--off {
  opacity: 0;
}

@media (min-width: 1024px) {
  .explorer h2 {
    font-size: 40px;
  }
  .fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
  }
  .fonctionnement ul {
    flex-direction: row;
    justify-content: center;
    gap: 38px;
  }
  .btn-fonction {
    width: 300px;
  }
  .restaurants h2 {
    padding-left: 128px;
    max-width: 1240px;
  }
  .restaurants img {
    width: 100%;
    height: 200px;
  }
  .card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding-bottom: 30px;
  }
  .card {
    width: 37%;
  }
}
.title-menu {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
}

.menu {
  position: relative;
  top: -52px;
  box-sizing: border-box;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0 0;
}
.menu h3 {
  padding-top: 40px;
  padding-left: 13px;
  font-size: 16px;
  font-weight: 300;
}

.border-bottom:hover {
  border-bottom: 3px solid #99e2d0;
}

.menu-heart {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 32px 17px 42px 17px;
}

.fade-in {
  opacity: 0;
  animation: fade-in-animation 3s ease-in-out forwards;
}

.dish {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin: 13px;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}

.txt-dish {
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 50px);
}
.txt-dish h4 {
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
}
.txt-dish p {
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dish:active p,
.dish:active h4 {
  width: calc(100% - 60px);
}

.price-check {
  position: absolute;
  right: -60px;
  top: 0px;
  display: flex;
  height: 100%;
  transition: right 0.3s ease-in;
}

.dish:active .price-check {
  right: 0%;
}

.price {
  position: relative;
  bottom: -59%;
  margin-right: 16px;
}

.check-icon {
  background: #99e2d0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60px;
  border-radius: 0 20px 20px 0;
}

.fa-check {
  color: #99e2d0;
  border-radius: 30px;
  background-color: #eee;
  padding: 3px;
}

.center {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.center .purple-button {
  width: 210px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .menu {
    padding: 0 12% 0 12%;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }
}
.loader {
  background: #99e2d0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeOut 3s forwards;
}

.loader-text {
  color: #9356dc;
  font-size: 24px;
  margin-bottom: 20px;
}

.loader-dots {
  display: flex;
}

.dot {
  width: 12px;
  height: 12px;
  background: #9356dc;
  border-radius: 50%;
  margin: 0 5px;
  animation: pulse 1s infinite ease-in-out;
}/*# sourceMappingURL=style.css.map */