// Couleurs

$font-violet: #9356dc;
$font-vert: #99e2d0;
$txt-vert: #008766;
$gradient-violet: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);

// Textes

$txt-sombre: #000;
$txt-clair: #fff;
