// Section Explorer

.explorer {
    padding: 50px 0 50px 0;
    background-color: #f6f6f6;
    text-align: center;

    h2 {
        font-size: 24px;
        font-weight: 700;
        padding: 0 58px 0 42px;
    }

    p {
        font-size: 18px;
        padding: 15px 34px 27px 26px;
        font-weight: 300;
    }
}

.purple-button {
    @extend %button-linear;
    padding: 16px 19px;
    position: relative;
    overflow: hidden;
}

.purple-button:hover {
    background: linear-gradient(200.64deg, #9356dcd9 -5.2%, #ff79dad9 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.45);
}

// Fonctionnement

.fonctionnement {
    padding: 0 0 50px 0;
    margin: 0 30px 0 30px;
    background-color: $txt-clair;

    h2 {
        padding: 48px 0 30px 0;
        font-weight: 700;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}

li {
    position: relative;
}

.number {
    font-size: 14px;
    width: 24px;
    height: 24px;
    border-radius: 20px;
    color: $txt-clair;
    background-color: $font-violet;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 23px;
    left: -10px;
}

.btn-fonction {
    border-radius: 28px;
    width: 100%;
    height: 72px;
    font-size: 16px;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border: none;
    padding-right: 38px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    gap: 15px;
}

.grey {
    color: #7e7e7e;
}

.grey:hover {
    color: $font-violet;
}

// Restaurants

.restaurants {
    background-color: #f6f6f6;

    img {
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 160px;
    }

    h2 {
        padding: 50px 0 20px 30px;
    }
}

.card {
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 15px 20px 15px;
    gap: 15px;
}

.new {
    color: $txt-vert;
    background-color: $font-vert;
    font-family: "inter";
    font-size: 14px;
    font-weight: 500;
    padding: 8px 12px 7px 12px;
    position: absolute;

    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0 10px 15px;
    font-weight: 300;

    h3 {
        font-size: 18px;
    }

    p {
        padding-top: 5px;
        font-size: 17px;
    }
}

.heart__icon {
    padding-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-right: 22px;
    cursor: pointer;

    &--off {
        position: absolute;
        color: black;
    }
    &--on {
        position: absolute;
        opacity: 0;
        background: $gradient-violet;
        background-clip: initial;
        -webkit-background-clip: text;
        color: transparent;
        transition: all 400ms;
    }
    &:hover &--on {
        opacity: 1;
    }
    &:hover &--off {
        opacity: 0;
    }
}

// Media Queries

@media (min-width: 1024px) {
    .explorer h2 {
        font-size: 40px;
    }
    .fonctionnement {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
        flex-wrap: wrap;

        ul {
            flex-direction: row;
            justify-content: center;
            gap: 38px;
        }
    }

    .btn-fonction {
        width: 300px;
    }

    .restaurants {
        h2 {
            padding-left: 128px;
            max-width: 1240px;
        }

        img {
            width: 100%;
            height: 200px;
        }
    }

    .card-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px;
        padding-bottom: 30px;
    }

    .card {
        width: 37%;
    }
}
